# Core
pytz==2018.9
Django==2.2.10
django-configurations==2.1

# Rest apis
djangorestframework==3.10.3
Markdown==3.0.1

# Permission
djangorestframework-composed-permissions==0.2.1

# Axioms
axioms-drf-py==0.0.1

# Env variables
django-environ==0.4.5